@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Invalid Email";
}

<div>

    <h3>Please specify a valid email to continue.</h3>
    @Html.ActionLink("Go Back", "Index", "Details", null, null)
</div>